.details-modal {
    padding: 30px;
    background-color: var(--white);
    font-size: 1.3rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}