.sidebar {
    position: fixed;
    background-color: var(--blue);
    height: 100vh;
    flex: 1;
}

.sidebar-title {
    font-size: 1.4rem;
    color: var(--white);
    text-align: right;
    padding: 15px;
    border-bottom: 2px solid #6c48bb;
}

.sidebar-links {
    margin-top: 20px;
}


.sidebar-links a {
    position: relative;
    padding: 15px;
}

.sidebar-links a {
    width: 100%;
    color: var(--white);
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 6px;
    font-size: 1.3rem;
}

.sidebar-links a.active {
    background-color: #391588;
}

.sidebar-links a:first-child {
    margin-bottom: 20px;
}