.cms-empty-error {
    font-size: 2rem;
    background-color: #ff4f4f;
    margin-top: 20px;
    padding: 20px;
    color: var(--white);
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}